.shadow-box{
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}
.form-signin {
    max-width: 330px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-larger {
	max-width: 500px;
	margin: auto;
}
.form-larger .checkbox {
    font-weight: 400;
}
.form-larger .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-larger .form-control:focus {
    z-index: 2;
}
input[type=radio] {
	margin: 5px;
}
input[type=email],
input[type=password],
input[type=text]
{
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	box-sizing: border-box;
	outline: none;
	margin: 5px 0px 5px 0px;
}
input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}
legend
{
	font-size: 17px;
}
.btn-green
{
	background-color: #36b03c;
	color: white;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}
.btn-green:hover
{
	background-color: #37b93d;
}
.btn-green:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}
.imageForm-container
{
    width: 120px;
    height: 100%;

}
.image-toolbar .link-show
{
    right: 0px;
    top: 0px;
}
.image-toolbar .link-delete
{
    right: 0px;
    bottom: 0px;
}
.imageForm
{
	width: 100px;
	height: 100%;
}
.image-toolbar a.disabled
{
    color: #dddddd;
}



