{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.css') }}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
				{% include 'flash_messages.html.twig' %}
                <div class="{% block content_class %} list-container p-2 my-4 col-12{% endblock %}">
                	
                    {% block content_body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}




                               <!--

                                    TO DO:

                                    - predkosc itp uzaleznione od aktywnosci
                                    -artykuly
                                

                                    




                                    -moze lokalizacja w przyszlosci
                                    
                                    
                                    notnull throw exeption before
                                    done - ew. dorobić catchpa i ilość logowań 
                                    -wiek,waga plec, wzrost do usera  
                                    - nadawanie uprawnien moderatora uzytkownikom
                                    - przerobić workout api js na jeden obiekt 
                                    - przerobić to na timestamp
                                    -kalendarz
                                    -wykresy
                                    - sprawdzenie uprawnień dla każdej strony -->