{% block per_page %} 
    
        <div class="text-center">
            <nav aria-label="Items per page">
                <span>Per page:</span>
                <ul class="pagination justify-content-center">
                    <li {% if app.request.query.get('perPage') in ['', '5'] %} class="page-item active" {% else %} class="page-item" {% endif %}>
                        <a class="page-link" href="?perPage=5">5</a>
                    </li>
                    <li {% if app.request.query.get('perPage') == "10" %} class="page-item active" {% else %} class="page-item" {% endif %}>
                        <a class="page-link" href="?perPage=10">10</a>
                    </li>
                    <li {% if app.request.query.get('perPage') == "15" %} class="page-item active" {% else %} class="page-item" {% endif %}>
                        <a class="page-link" href="?perPage=15">15</a>
                    </li>
                </ul>
            </nav>
        </div>

{% endblock %}