{% extends 'content_base.html.twig' %}

{% block title %}Add Workout Panel{% endblock %}

{% block section_class %}addWorkoutPanel{% endblock %} 

{% block content_class %}{{ parent() }} container-border-blue bg-profile text-center p-2{% endblock %} 
{% block content_body %}
        <div class="col-sm-10 p-3 mx-auto  my-3 link-card">
            <a href="{{ path('workout_add_average') }}" class="stretched-link">
                <div class="card bg-transparent border-0">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <img src="//placehold.it/100" class="img-fluid" alt="">
                        </div>
                        <div class="col">
                            <div class="card-block px-2">
                                <h4 class="card-title text-left title-style">New workout without tracking route</h4>
                                <p class="card-text text-left"><small>Choose this option if the workout doesn't have a route, e.g. if you worked out in a gym, or if you just don't want to bother picking a route for your workout.</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-10 p-3 mx-auto  my-3 link-card">
            <a href="#" class="stretched-link">
                <div class="card bg-transparent border-0">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <img src="//placehold.it/100" class="img-fluid" alt="">
                        </div>
                        <div class="col">
                            <div class="card-block px-2">
                                <h4 class="card-title text-left title-style">New workout with tracking route</h4>
                                <p class="card-text text-left"><small>Choose this option if you want track your workout route.(Next week)</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-10 p-3 mx-auto  my-3 link-card">
            <a href="{{ path('route_workout_draw_route') }}" class="stretched-link">
                <div class="card bg-transparent border-0">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <img src="//placehold.it/100" class="img-fluid" alt="">
                        </div>
                        <div class="col">
                            <div class="card-block px-2">
                                <h4 class="card-title text-left title-style">New workout with drawed route</h4>
                                <p class="card-text text-left"><small>Choose this option if you wanna draw route of workout.</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

{% endblock %}




    